
<div class="posts-friends-container">
<section id="feed-posts">
        <% if(locals.user){ %>
        <h1>Posts</h1>
        <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" id="post-textArea" cols="30" rows="10" placeholder="Type here...." required></textarea><br><br>
                <input type="submit" value="Post">
        </form>
        <% } %>
</section>

<section>
<h1>Posts</h1>

<div id="posts-list-container">
<ul>
<% for( post of posts){ %>
        <!-- Displaying posts -->
        <%- include('_post') -%>
        
<% } %>
</ul>
</div>

</section>
<section id="friend">
        <div class="profiles">
                <h1>Friends Profiles</h1>
              <%  for(u of all_users){ %>
                        <li><a href="/user/profile/<%= u.id %>"><i class="fa-solid fa-user"></i> &nbsp;<%= u.name %></a></li>
              <%  } %>
        </div>
</section>
</div>

<script src="/js/home_post.js"></script>