
<section id="signup">
    <h1>Sign-in</h1>
    
    <form action="/user/create-session"  method="post">
        <input type="text" name="email" placeholder="Your email">
        <input type="password" name="password" placeholder="Your password">
        <input type="submit" value="Sign-in">
    </form>
</section>

<p>
    <a href="/user/auth/google">Google signIn/signUp</a>
</p>