header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color : orange;
    padding : 0px 0.8rem;
}

.ul-header{ 
    display: flex;

    li{
        list-style: none;
        padding : 5px;
        a{
            text-decoration: none;
            color : black;
            background-color: white;
            padding : 0.5rem;
            border-radius: 10px;
        }
        a:hover{
            background-color: orange;
        }
    }
    li:hover{
        scale : 1.1;
    }
}