.posts-friends-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between; }
  .posts-friends-container #feed-posts {
    padding: 1rem;
    width: 20%;
    background-color: lightgray;
    box-shadow: 0px  0px 2px 2px gray; }
  .posts-friends-container #friend {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: lightgray;
    box-shadow: 0px  0px 2px 2px gray;
    width: 20%;
    text-align: center;
    text-align: left; }
    .posts-friends-container #friend .profiles h1 {
      color: purple; }
    .posts-friends-container #friend .profiles li {
      list-style: none;
      padding: 0.2rem; }
      .posts-friends-container #friend .profiles li a {
        text-decoration: none;
        color: black; }

.posts .feed-icon {
  color: orange; }

.posts h1 {
  margin: 5px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 25px 25px 25px 25px; }

#posts-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top; }
  #posts-list-container .ul-post {
    padding: 0px 0px 0px 5px;
    margin: 0px;
    margin-bottom: 5px; }
  #posts-list-container li {
    margin-top: 30px;
    margin-bottom: 0px;
    background: white;
    list-style: none;
    border-radius: 0px 10px 10px 0px;
    padding: 10px 10px 10px 20px;
    box-shadow: 2px 2px lightgray;
    background: linear-gradient(135deg, #ffffff, whitesmoke); }
    #posts-list-container li .user-name {
      background-color: black;
      padding: 2px 4px;
      color: orange;
      font-size: 12px;
      border-radius: 5px 0px;
      margin-right: 2px; }
    #posts-list-container li .delete-post-button {
      text-decoration: none;
      background-color: rgba(223, 25, 25, 0.904);
      padding: 2px 4px;
      color: white;
      border-radius: 5px 0px; }
    #posts-list-container li .delete-comment-button {
      text-decoration: none;
      background-color: rgba(223, 25, 25, 0.904);
      padding: 2px 4px;
      color: white;
      border-radius: 5px 0px; }
    #posts-list-container li .toggle-like-button {
      text-decoration: none;
      background-color: #58d258;
      padding: 2px 4px;
      color: white;
      border-radius: 5px 0px; }
    #posts-list-container li p {
      margin: 5px;
      font-size: 20px; }
    #posts-list-container li .post-comment-list li {
      margin: 0px;
      box-shadow: none;
      background: none; }
      #posts-list-container li .post-comment-list li p {
        font-size: 17px; }
